* {
  margin: 0px;
}
body {
  background-color: #056305d3;
  width: 100%;
}
header {
  height: 60px;
  display: flex;
  color: #c2b3b3;
  align-items: center;
  justify-content: center;
  background-color: #000000e3;
}
header > section > h2 {
  text-shadow: 1px 1px black;
}
nav {
  display: flex;
  background-color: #056305d3;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
nav section {
  width: 60%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav section menu {
  display: flex;
  width: 80%;
  height: 100%;
  min-width: 100%;
  align-items: center;
}
nav section menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav section menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 80%;
  width: auto;
}
nav section menu ul li a {
  padding: 10px;
  text-shadow: 1px 1px black;
  text-decoration: none;
  color: white;
}
main {
  background-color: beige;
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}
footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #056305d3;
  height: 90px;
  text-shadow: 1px 1px black;
  border-top: 2px solid #1c3f1c;
}
.fixar {
  position: fixed;
  top: 0px;
  width: 100%;
  transition: 2s;
  border-top: 0px;
  background-color: green;
  border-bottom: 2px solid white;
}
